:root {
  --primary-color: #ffffff;
  --sidebar-and-button-color: #1992d4;
  --main-content-background: #e2e8f0;
  --card-tab-color: #e3b131;
  --heading-text-color: #222224;
  --text-color: #aeaeae;
  --primary-font: 'Ariel', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
  "sidebar header"
  "sidebar main-content";
  height: 100vh;
}

li, ul {
  display: grid;
  gap: 15px;
  list-style: none;
}

svg {
  width: 30px;
  height: 30px;
}

/* sidebar */
.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 10fr;
  grid-area: sidebar;
  align-items: start;
  gap: 60px;
  padding: 25px;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary-color);
  background: var(--sidebar-and-button-color);
}

.side-links {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 25px;
  align-items: end;
}

.logo-format {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 15px;
  align-items: end;
  font-size: 1.8rem;
}

.logo {
  height: 50px;
  width: 50px;
  fill: var(--primary-color);
}

.side-bar-svg {
  width: 30px;
  height: 30px;
  fill: var(--primary-color);
}

/* header */
.header {
  grid-area: header;
  background: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 3fr;
  grid-template-areas:
  "search-bar"
  "inputs";
  padding: 0 50px 20px 50px;
  gap: 20px;
}

.top-half-header {
  grid-area: search-bar;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-areas:
  "left right";
}

.top-left-header {
  grid-area: left;
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
}

.top-right-header {
  grid-area: right;
  display: grid;
  grid-template-columns: 30px 48px 200px;
  gap: 50px;
  justify-content: end;
  align-items: center;
}

#search {
  height: 30px;
  min-width: 100px;
  width: 800px;
  border-style: none;
  border-radius: 20px;
  background-color: var(--main-content-background);
}

.bottom-half-header {
  grid-area: inputs;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "left right";
}

.bottom-left-header {
  grid-area: left;
  display: grid;
  grid-template-columns: 98px 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  grid-template-areas: 
  "icon mini-text"
  "icon username";
}

.profile-pic {
  height: 49px;
  width: 49px;
  border-radius: 50%;
  overflow: hidden;
}

.big-profile {
  grid-area: icon;
  height: 98px;
  width: 98px;
}

.mini-text {
  grid-area: mini-text;
  display: grid;
  align-items: end;
  font-size: 0.75rem;
}

.username {
  grid-area: username;
  font-size: 1.4rem;
}

.bottom-right-header {
  grid-area: right;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  align-items: center;
  justify-content: end;
}

.header-buttons {
  width: 120px;
  height: 50px;
  border-radius: 25px;
  border-style: none;
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-color);
  background-color: var(--sidebar-and-button-color);
}

/* main-content */
.main-content {
  grid-area: main-content;
  display: grid;
  grid-template-columns: minmax(150, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 
  "article article news"
  "article article news";
  gap: 20px;
  background: var(--main-content-background);
  padding: 20px;
}

.news {
  grid-area: news;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "announcements"
  "trending";
  align-items: space-between;
  gap: 20px;
}

.project-content {
  grid-area: article;
  display: grid;
  grid-template-rows: 30px 1fr;
  gap: 10px;
}

.announce-content {
  grid-area: announcements;
  display: grid;
  grid-template-rows: 30px 1fr;
  gap: 10px;
}

.trending-content {
  grid-area: trending;
  display: grid;
  height: 370px;
  grid-template-rows: 30px 1fr;
  gap: 10px;
}

.article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 240px;
  gap: 10px;
}

.card {
  height: 180px;
  min-width: 380px;
  width: 420px;
  padding: 25px;
  background-color: var(--primary-color);
  box-shadow: 5px 5px 5px rgba(0,0,0, 0.1);
  border-radius: 10px;
}

.announcements {
  display: grid;
  height: 280px;
  padding: 25px;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0, 0.1);
}

.announcement {
  display: grid;
  align-items: center;
  background-color: var(--primary-color);
  border-top: 2px solid rgba(0,0,0, 0.1);
}

.announcements .first-announcement {
  border: none;
}

.trending {
  display: grid;
  padding: 25px;
  grid-auto-rows: 1fr;
  border-radius: 10px;
  gap: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0, 0.1);
  background-color: var(--primary-color);
}

.popular-users {
  display: grid;
  align-items: center;
}