:root {
  --primary-color: #ffffff;
  --sidebar-and-button-color: #1992d4;
  --main-content-background: #e2e8f0;
  --card-tab-color: #e3b131;
  --heading-text-color: #222224;
  --text-color: #aeaeae;
  --primary-font: 'Ariel', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
  "sidebar header"
  "sidebar main-content";
  height: 100vh;
}

li, ul {
  display: grid;
  gap: 15px;
  list-style: none;
}

svg {
  width: 30px;
  height: 30px;
  fill: var(--primary-color);
}

/* sidebar */
.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 10fr;
  grid-area: sidebar;
  align-items: start;
  gap: 60px;
  padding: 25px;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary-color);
  background: var(--sidebar-and-button-color);
}

.side-links {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 25px;
  align-items: end;
}

.logo-format {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 15px;
  align-items: end;
  font-size: 1.8rem;
}

.logo {
  height: 50px;
  width: 50px;
  fill: var(--primary-color);
}

.header {
  grid-area: header;
  background: var(--primary-color);
}

.main-content {
  grid-area: main-content;
  background: var(--main-content-background);
}